<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ipctabernacle.tabernacle">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.firebase.ui"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirectoryActivity"
            android:label="@string/app_name_directory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GivingActivity"
            android:label="@string/title_activity_giving"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PodcastActivity"
            android:label="@string/title_activity_podcast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactDetailsActivity"
            android:label="Details"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".DirectoryActivity2"
            android:label="Directory"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
